@font-face {
    font-family: 'myFont';
    src: url('fonts/ARCADECLASSIC.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, ul {
    margin: 0;
    padding: 0;
}

body{
    height: 3000px;
    background-color: #1a1723;
    /* background-color: #221e2f; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#background-layer {
    position: absolute;
    align-items: center;
    /* background-color: #2D283E; */
    background-color: #221e2f;
    border: 5px solid #564F6F;
    z-index: -1;
}

#background-layer-2 {
    position: absolute;
    align-items: center;
    background-color: #1a1723;
    z-index: -2;
}


header {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#title {
    margin-top: 200px;
    margin-right: 300px;
    margin-bottom: 0px;
    position: absolute;
    font-family: 'myFont', Arial, sans-serif;
    font-size: 30px;
    color: #D1D7E0;
    font-weight: 400;
    background-color: #564F6F;
    padding: 10px;
    padding-bottom: 160px;
}

#name-block{
    text-align: center;
    font-family: 'myFont', Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
    padding: 10px 20px;
    display: inline-block;
    color: #D1D7E0;
    background-color: #564F6F;

}

#line-block {
    padding: 28px 4px;
    background-color: #564F6F;
    margin-left: 10px;
}

#page {
    align-items: center;
    background-color: #D1D7E0;
    border: 20px solid #4c495d;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-top: -10px;
    margin-left: -70%;
}

nav a {
    color: #D1D7E0;
    text-decoration: underline;
    font-size: 15px;
    font-family: 'myFont', Arial, sans-serif;
    transition: .2s ease;
}

nav a:hover {
    color: #c31cff;
}